@import "home";
@import "music";
@import "video";
@import "../components/list-of-links";

body.page,
body.single {
  .content {
    @include make-row();

    .main {
      @include make-col-ready();

      .page-body {
        @extend .d-flex;

        @include media-breakpoint-up(sm) {
          flex-direction: column;
        }

        @include media-breakpoint-up(lg) {
          flex-direction: row-reverse;
        }

        .page-thumbnail {
          @include make-col-ready();

          @include media-breakpoint-up(sm) {
            @include make-col(12);

            margin-bottom: 2rem;
          }

          @include media-breakpoint-up(lg) {
            @include make-col(5);

            margin-bottom: 0;
          }
        }

        .page-content {
          @include make-col-ready();

          padding-left: 0;

          @include media-breakpoint-up(sm) {
            @include make-col(12);
          }

          @include media-breakpoint-up(lg) {
            @include make-col(7);
          }
        }
      }

      @include media-breakpoint-up(sm) {
        @include make-col(12);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(7);
      }
    }

    .sidebar {
      @include make-col-ready();

      @include media-breakpoint-up(sm) {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        @include make-col(5);
      }

      padding: 2rem 0;
    }
  }
}

body.page.about,
body.single {
  .content {
    @include make-row();

    .main {
      @include make-col-ready();
      @include make-col(12);
    }
  }
}

.main,
.sidebar {
  padding: 2rem 0 6rem;

  a {
    color: $whitish;
    text-decoration: underline;

    &:hover {
      color: darken($whitish, 15%);
    }
  }

  .page-header {
    margin-bottom: 2rem;

    h1 {
      font-size: 2.25rem;
    }
  }

  article {
    header {
      margin-bottom: 2.25rem;

      h2.entry-title {
        a {
          color: #fff;
          padding-bottom: 0.125rem;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            border-bottom: 1px solid #fff;
          }
        }
      }

      time {
        font-size: 0.75rem;
      }
    }
  }
}

body.blog,
body.archive {
  article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    .single-content-thumbnail {
      margin-right: 2.25rem;
    }
  }
}
